* {
            margin: 0;
            padding: 0;
        }

        #playground {
            position: relative;
            left: 3px;
            top: 3px;
            border: 2px solid rgba(131, 131, 131, 0.4);
            border-radius: 5px;
            width: 350px;
            height: 502px;
            background: rgb(0, 0, 0);
        }

        #btn {
            display: block;
            color: red;
            font-weight: bold;
            font-size: 30px;
            border: none;
            padding: 15px;
            position: absolute;
            border-radius: 50px;
            top: 320px;
            left: 125px;
            box-sizing: border-box;
        }

        h4 {
            position: absolute;
            color: white;
            bottom: 10px;
            left: 5px;
        }

        #Careful {
            position: absolute;
            text-align: center;
            left: 5px;
            top: 160px;
            font-weight: bold;
            padding: 30px;
            font-size: 20px;
            line-height: 30px;
            color: rgb(255, 255, 255);
            display: none;
        }
        
        p{
        color:red;
        position: absolute;
        display:none;
        top: 130px;
        left: 55px;
        }
        
        #g2{
        left:130px;
        }

        #text {
            position: absolute;
            text-align: center;
            left: 3px;
            top: 70px;
            padding: 20px;
            font-size: 20px;
            line-height: 30px;
            color: white;
        }

        #buttons {
            position: absolute;
            bottom: 45px;
            left: 10px;
            display: none;
        }

        input {
            width: 40px;
            height: 40px;
            color:white;
            position: absolute;
            border-radius: 4px;
            outline: none;
            border: none;
            background-color: rgba(131, 131, 131, 0.4);
            border: 1px solid rgba(255, 255, 255, 0.4);
            left: 155px;
            box-sizing: border-box;
            font-weight: bold;
        }

        input:nth-child(1) {
            bottom: 40px;
        }

        input:nth-child(2) {
            bottom: 0;
            left: 115px;
        }

        input:nth-child(3) {
            bottom: 0;
            left: 195px;
        }

        #win,
        #lost {
            position: absolute;
            display:none;
            top: 80px;
            color: lime;
            left: 55px;
            font-weight: bold;
            font-size: 30px;
        }

        #lost {
            left: 70px;
            font-size: 40px;
            color: red;
        }

        #corona {
            position: relative;
            width: 50px;
            height: 50px;
            background: rgb(211, 181, 11);
            border-radius: 50%;
            transform: scale(.6);
            display: none;
        }

        .b {
            position: absolute;
            width: 4px;
            height: 15px;
            background: rgb(211, 181, 11);
        }

        .b:nth-child(1) {
            transform: rotate(-60deg);
            top: -2px;
        }

        .b:nth-child(2) {
            transform: rotate(-80deg);
            top: 8px;
        }

        .b:nth-child(3) {
            transform: rotate(-90deg);
            top: 18px;
            left: -7px;
        }

        .b:nth-child(4) {
            transform: rotate(-110deg);
            top: 26px;
            left: 1px;
        }

        .b:nth-child(5) {
            transform: rotate(-130deg);
            top: 39px;
            left: 1px;
        }

        .b:nth-child(6) {
            transform: rotate(-145deg);
            top: 40px;
            left: 14px;
        }

        .b:nth-child(7) {
            transform: rotate(-180deg);
            top: 48px;
            left: 23px;
        }

        .b:nth-child(8) {
            transform: rotate(150deg);
            top: 40px;
            left: 32px;
        }

        .b:nth-child(9) {
            transform: rotate(140deg);
            top: 40px;
            left: 44px;
        }

        .b:nth-child(10) {
            transform: rotate(120deg);
            top: 28px;
            left: 45px;
        }

        .b:nth-child(11) {
            transform: rotate(90deg);
            top: 20px;
            left: 53px;
        }

        .b:nth-child(12) {
            transform: rotate(80deg);
            top: 10px;
            left: 46px;
        }

        .b:nth-child(13) {
            transform: rotate(60deg);
            left: 45px;
            top: -2px;
        }

        .b:nth-child(14) {
            transform: rotate(30deg);
            left: 31px;
            top: -5px;
        }

        .b:nth-child(15) {
            transform: rotate(0deg);
            left: 22px;
            top: -13px;
        }

        .b:nth-child(16) {
            transform: rotate(-25deg);
            left: 13px;
            top: -5px;
        }

        .a {
            position: absolute;
            top: -2px;
            left: -2px;
            width: 8px;
            height: 3px;
            background: rgb(211, 181, 11);
            border-radius: 50%;
        }

        .eye1 {
            position: absolute;
            width: 12px;
            height: 12px;
            background: white;
            border-radius: 50%;
            left: 10px;
            top: 14px;
        }

        #eye1 {
            left: 28px;
        }

        .eye2 {
            position: absolute;
            width: 7px;
            height: 7px;
            background: black;
            border-radius: 50%;
            top: 2.5px;
            left: 2.5px;
        }

        .eye3 {
            position: absolute;
            width: 2px;
            height: 2px;
            background: white;
            border-radius: 50%;
            top: 3px;
            left: 3.5px;
        }

        #eye3 {
            left: 1.5px;
        }

        @keyframes anim1 {
            to {
                height: 0.5px;
            }
        }

        #mouth {
            position: absolute;
            width: 20px;
            height: 10px;
            background: black;
            top: 32px;
            left: 15px;
            border-radius: 50%;
            overflow: hidden;
            animation: anim1 1s alternate infinite;
        }

        .teeth {
            position: absolute;
            border-bottom: 4px solid white;
            border-left: 0.5px solid transparent;
            border-right: 0.5px solid transparent;
            width: 1.5px;
            top: 7px;
            left: 3px;
        }

        .teeth:nth-child(1) {
            transform: rotate(15deg);
            left: 7px;
        }

        .teeth:nth-child(2) {
            transform: rotate(-13deg);
            left: 11px;
            top: 8px;
        }

        .teeth:nth-child(3) {
            transform: rotate(-30deg);
            left: 15px;
            top: 7px;
        }

        .teeth:nth-child(4) {
            transform: rotate(-160deg);
            left: 17px;
            top: 0px;
        }

        .teeth:nth-child(5) {
            transform: rotate(-180deg);
            left: 13px;
            top: -1px;
        }

        .teeth:nth-child(6) {
            transform: rotate(-180deg);
            left: 9px;
            top: -1px;
        }

        .teeth:nth-child(7) {
            transform: rotate(-180deg);
            left: 5px;
            top: -1px;
        }

        .teeth:nth-child(8) {
            transform: rotate(-210deg);
            left: 1px;
            top: 0px;
        }

        .man {
            position: absolute;
            bottom: 150px;
            left: -60px;
        }

        .head {
            position: absolute;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: rgb(3, 139, 26);
            left: 29px;
            top: 1px;
        }

        .eye-m {
            position: absolute;
            top: 4px;
            left: 4px;
            width: 2px;
            height: 2px;
            border-radius: 50%;
            background-color: black;
        }

        .eye-right {
            left: 9px;
        }

        .mouth-m {
            position: absolute;
            top: 10px;
            left: 5px;
            width: 5px;
            height: 1px;
            background-color: black;
        }

        .body-m {
            position: absolute;
            width: 15px;
            height: 22px;
            border-radius: 30%;
            background: rgb(3, 139, 26);
            top: 17px;
            left: 29px;
        }

        .leg-m {
            position: absolute;
            width: 6px;
            height: 20px;
            border-radius: 0 0 43% 43%;
            background: rgb(3, 139, 26);
            top: 36px;
        }

        .right-leg {
            left: 40px;
            transform: rotate(-20deg);
        }

        .left-leg {
            left: 27.5px;
            transform: rotate(15deg);
        }

        .hand {
            position: absolute;
            top: 18px;
            width: 6px;
            height: 15px;
            background: rgb(3, 139, 26);
            border-radius: 0 0 45% 45%;
        }

        .right-hand {
            left: 43px;
            transform: rotate(-50deg);
        }

        .left-hand {
            left: 24px;
            transform: rotate(50deg);
        }

        .mask {
            position: absolute;
            top: 7px;
            left: 4.5px;
            width: 6px;
            height: 4px;
            background: white;
        }

        .strap {
            position: absolute;
            width: 1px;
            height: 4px;
            background-color: white;
        }

        .strap1 {
            top: 9px;
            left: 3px;
            transform: rotate(55deg);
        }

        .strap2 {
            top: 9px;
            left: 11px;
            transform: rotate(-55deg);
        }

        .strap3 {
            top: 4.7px;
            left: 2px;
            height: 5px;
            transform: rotate(100deg);
        }

        .strap4 {
            top: 4.5px;
            left: 12px;
            height: 5px;
            transform: rotate(-100deg);
        }
