.nspost_sett .item {
    padding: 25px 20px;
    position: relative;
    background-size: cover;
    background-position: 50% 0% !important;
    border: 1px solid #ccc;
}
.nspost_sett .item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(12, 12, 12, 0.5);
}
.nspost_sett .item:hover:after {
    opacity: 0;
}
.nspost_sett .item:hover h5,
.nspost_sett .item:hover p,
.nspost_sett .item:hover span,
.nspost_sett .item:hover h5 .nspost_sett .item:hover span {
    color: #fff;
}
.nspost_sett .item:hover .numb {
    -webkit-text-stroke: 1px #fff
}
.nspost_sett .item:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 1;
    -webkit-transition: all .4s;
    transition: all .4s;
}
.nspost_sett .item .con {
    position: relative;
    z-index: 7;
}
.nspost_sett .item h5,.nspost_sett .item h5 a {
    font-size: 36px;
    margin-bottom: 20px;
    line-height: 42px;
    font-weight: 300;
    color: #c5a47e;
}
.nspost_sett .item .numb {
    font-size: 75px;
    line-height: 75px;
    font-weight: 400;
    color: transparent;
    -webkit-text-stroke: 1px #999;
    opacity: .8;
    margin-bottom: 20px;
}
.nspost_sett .item p {
    font-size: 15px;
}
.recent-news-post__metas {
	border-top: 1px solid #d4d5d7;
	margin-top: 35px;
	padding: 12px 0 0 10px;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	transition: 0.5s all;
	-webkit-transition-delay: 0.4s;
	-o-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

.recent-news-post__metas-category {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 500;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.recent-news-post__metas a {
    color: #c5a47e;
}

.recent-news-post__metas-date {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 500;
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.recent-post-divider {
	display: inline-block;
	vertical-align: middle;
	height: 10px;
	width: 1px;
	background: #ccc;
	margin: 0 4px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.share-icon-wrapp {
	float: right;
	position: relative;
	text-align: center;
}
.share-icon {
	display: inline-block;
	vertical-align: middle;
	font-size: 20px;
	cursor: pointer;
}
