/* Import font. */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

#myGallery{
	margin-left: auto;
	margin-right: auto;
}

/* Counter. */
.mxmrmg-counter .text{
	font: 400 14px Roboto, Arial;
	color: #B9B9B9;
	padding: 9px 9px !important;
	background-color: rgba(0,0,0,.4) !important;
}

.mxmrmg-counter.in .text{
	text-align: center;
	padding: 9px 8px !important;
	transform-origin: top left;
	transform: rotate(90deg) !important;
	background-color:transparent !important;
}


/* Caption. */
.mxmrmg-caption{
	text-align: center;
}

.mxmrmg-caption .mxmrmg-title{
	font: 700 18px Roboto, Arial;
	line-height: 21px;
	margin: 21px 20px 0;
	color: #FFFFFF;
}

.mxmrmg-caption .mxmrmg-desc{
	font: 400 14px Roboto, Arial;
	font-style: italic;
	line-height: 19px;
	margin: 5px 20px 0;
	color: #E9E9E9;
}

.mxmrmg-caption .mxmrmg-desc strong{
	color: #FFFFFF !important;
}

.mxmrmg-caption .mxmrmg-desc a{
	text-decoration: none;
    background-image: linear-gradient(#E9E9E9 calc(100% - 2px), #E9E9E9 1px);
    background-position: 0 calc(100% + 1px);
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size 0.6s cubic-bezier(0.215, 0.61, 0.355, 1), color 0.3s ease-out, background 0.3s ease-out, border-color 0.3s ease-out;
  	border-bottom: 1px solid rgba(233, 233, 233, 0.4);
    color: #E9E9E9;
}

.mxmrmg-caption .mxmrmg-desc a:hover{
    background-size: 100% 1px;
    color: #FFFFFF;
}


/* Caption bottom out. */
.mxmrmg-caption.out .mxmrmg-title{
	margin: 21px 10px 0;
}

.mxmrmg-caption.out .mxmrmg-desc{
	margin: 5px 10px 0;
}


/* Caption top/bottom in. */
.mxmrmg-caption.bottomin .background,
.mxmrmg-caption.topin .background{
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 8.85%, rgba(0, 0, 0, 0.171875) 38.54%, rgba(0, 0, 0, 0.510026) 68.75%, #000000 100%);
	opacity: 0.6;
}

.mxmrmg-caption.topin .background{
	transform: rotate(180deg);
}

.mxmrmg-caption.bottomin .mxmrmg-title{
	margin-top: 50px;
}

.mxmrmg-caption.bottomin .mxmrmg-desc{
	margin-bottom: 28px;
}

.mxmrmg-caption.bottomin.small-screen .mxmrmg-title{
	margin: 50px 10px 0;
}

.mxmrmg-caption.bottomin.small-screen .mxmrmg-desc{
	margin: 5px 10px 15px;
}

.mxmrmg-caption.topin .mxmrmg-title{
	margin-top: 29px;
}

.mxmrmg-caption.topin .mxmrmg-desc{
	margin-bottom: 10px;
}

.mxmrmg-caption.topin.small-screen .mxmrmg-title{
	margin: 15px 10px 0;
}

.mxmrmg-caption.topin.small-screen .mxmrmg-desc{
	margin: 5px 10px 50px;
}


/* Menu. */
.mxmrmg-menu{
	border-radius: 2px;
	/* This is set by default in the settings, uncomment it to use it. */
	/* background-color: #FFFFFF !important; */
}

.mxmrmg-menu .mxmrmg-buttons-holder{
	box-sizing: border-box;
}

.mxmrmg-menu-button{
	display: block;
	font: 700 14px Roboto, Arial;
	line-height: 16px;
	padding: 14px 16px !important;
	box-sizing: border-box;
	color: #707070;
	transition: all .25s ease-out;
}

.mxmrmg-menu-button:after{
	position: absolute;
	content:"";
	width: 500px;
	height: 1px;
	left:0;
	bottom:0;
	background: #E3E3E3;
}

.mxmrmg-last-button .mxmrmg-menu-button:after{
	opacity: 0;
}

.mxmrmg-menu-button.selected{
	color: #111111;
}

/* Share buttons. */
.mxmrmg-share{
	width: 164px;
	border-radius: 2px;
	/* This is set by default in the settings, uncomment it to use it. */
	/*background-color: #FFFFFF !important;*/ 
}

.mxmrmg-share .mxmrmg-pointer{
	/* This is set by default in the settings, uncomment it to use it. */
	/*background-color: #FFFFFF !important;*/
}

.mxmrmg-share .mxmrmg-text{
	font: 400 14px Roboto, Arial;
	text-align: center;
	border-bottom: 1px solid #E3E3E3 !important;
	padding: 13px 0 10px !important;
	color: #1E1E1E;
}

.mxmrmg-share .mxmrmg-buttons-holder{
	padding: 15px 18px 2px !important;
}

.mxmrmg-share .mxmrmg-share-button{
	margin: 0 16px 10px 0 !important;
}

.mxmrmg-share .mxmrmg-share-button:nth-child(3n){
	margin-right: 0 !important;
}


/* Video player. */
video::cue,
.mxmrmg .EVPSubtitle{
	font: 600 22px Roboto, Arial !important;
	text-align:center !important;
	color:#FFFFFF !important;
	text-shadow: 0px 0px 1px #000000 !important;
	line-height:28px !important;
	margin:0 20px 20px !important;
	padding: 0px !important;
}

@media screen and (max-width: 700px){
	video::cue,
	.mxmrmg .EVPSubtitle{
		font-size: 16px !important;
		line-height:20px !important;
		margin:0 20px 14px !important;
	}
}

.mxmrmg .fwdevp-autoplay-text{
	font: 500 12px Roboto, Arial !important;
	top: 30px !important;
	left: 30px !important;
	border-radius: 14px;
	line-height: 14px !important;
	padding: 6px 23px 6px 18px !important;
	background-color: rgba(0, 0, 0, 0.4);
	color: #FFFFFF;

	transition: background-color .3s ease-out, color .3s ease-out;
}

.mxmrmg .fwdevp-autoplay-text:hover{
	color: #000;
	background-color: rgba(255, 255, 255, 1);
}

.mxmrmg .fwdevp-autoplay-text:hover svg path{
	fill: #111;
}

.mxmrmg .fwdevp-autoplay-text svg{
    transform: translate(6px, 2px);
}

.mxmrmg .fwdevp-autoplay-text svg path{
	transition: all .3s ease-out;
	fill: #FFFFFF;
}

.mxmrmg .fwdevp-time,
.mxmrmg .fwdevp-qaulity-button{
	font: 400 13px Roboto, Arial !important;
}

.mxmrmg .EVP-tooltip-text{
	font: 400 13px Roboto, Arial !important;
	padding: 5px 8px 5px !important;
}

.mxmrmg .fwdevp-thubnails-preview-text{
	font: 400 13px Roboto, Arial !important;
	padding: 5px 8px 4px !important;
}

.mxmrmg .fwdevp-skip,
.mxmrmg .fwdevp-ads{
	font-family: Roboto, Arial !important;
}

.fwdevp-password-title,
.fwdevp-password-label,
.fwdevp-password-input{
	font-family: Roboto, Arial !important;
}


/* HTML content form. */
.mxmrmg-html-content{
	overflow: auto;
	height: 100%;
	text-align: center;
	background: #FFF;
}

.mxmrmg-html-content img{
	margin: 50px auto 0 ;
}

.mxmrmg-html-content h1{
	font: 500 33px Roboto, Arial !important;
	line-height: 39px;
	max-width: 300px;
	margin: 20px auto 0;
	color: #111;
}

.mxmrmg-html-content p{
	font: 300 14px Roboto, Arial !important;
	line-height: 24px !important;
	margin: 16px 20px 30px;
}

.mxmrmg-html-content input{
	font: 300 14px Roboto, Arial !important;
	width: 100%;
	max-width: 274px;
	border: 1px solid #FFF;
	padding: 18px 30px;
	background: #F5F5F5;
}

.mxmrmg-html-content input:focus {
    outline: none !important;
    border: 1px solid #111;
}

.mxmrmg-html-content h4{
	font: 700 14px Roboto, Arial !important;
	cursor: pointer;
	width: 100%;
	max-width: 274px;
	margin: 11px auto 0;
	padding: 18px 30px;
	background: #570AB8;
	color: #FFF;
	transition: all .25s ease-out;
}

.mxmrmg-html-content h4:hover{
	background: #6B13DA;
	color: #FFF;
}


/* Lightbox vector skin.*/
.mxmrmg-button{
	position: relative !important;
	width: 32px;
	height: 32px;
	font-size: 23px;
	background-color:rgba(0,0,0,.4);
	color:#B9B9B9;
	transition: all .25s ease-out;
}
.mxmrmg-button .mxmrmg-icon{
 	position: absolute;
}

.mxmrmg-button.selected{
	background-color:rgba(0,0,0,.6) ;
	color:#FFF;
}

.mxmrmg-icon-close{
	left: 4px;
	top: 4px;
}

.mxmrmg-icon-play,
.mxmrmg-icon-pause{
	left: 5px;
	top: 4px;
}

.mxmrmg-icon-zoomin,
.mxmrmg-icon-zoomout{
	left: 4px;
	top: 4px;
}

.mxmrmg-icon-fullscreen,
.mxmrmg-icon-normalscreen{
	left: 4px;
	top: 4px;
}

.mxmrmg-icon-share{
	left: 5px;
	top: 4px;
}

.mxmrmg-icon-next{
	left: 6px;
	top: 4px;
}

.mxmrmg-icon-prev{
	left: 4px;
	top: 4px;
}

.mxmrmg-share-button .mxmrmg-button{
	background-color: transparent;
	color: #000;
}

.mxmrmg-share-button .mxmrmg-button.selected{
	background-color: transparent;
	color: #FFF;
}

.mxmrmg-icon-facebook{
	top: 4px;
	left: 4px;
}

.mxmrmg-button.facebook.selected{
	background-color: #1877F2;
}

.mxmrmg-icon-twitter{
	top: 4px;
	left: 5px;
}

.mxmrmg-button.twitter.selected{
	background-color: #1DA1F3;
}

.mxmrmg-icon-linkedin{
	top: 4px;
	left: 5px;
}

.mxmrmg-button.linkedin.selected{
	background-color: #0A66C2;
}

.mxmrmg-icon-tumblr{
	top: 4px;
	left: 4px;
}

.mxmrmg-button.tumblr.selected{
	background-color: #FF8A00;
}

.mxmrmg-icon-pinterest{
	top: 4px;
	left: 4px;
}

.mxmrmg-button.pinterest.selected{
	background-color: #FF8A00;
}

.mxmrmg-icon-reddit{
	top: 4px;
	left: 4px;
}

.mxmrmg-button.reddit.selected{
	background-color: #F74300;
}

.mxmrmg-icon-buffer{
	top: 4px;
	left: 4px;
}

.mxmrmg-button.buffer.selected{
	background-color: #2C4BFF;
}

.mxmrmg-icon-digg{
	top: 4px;
	left: 4px;
}

.mxmrmg-button.digg.selected{
	background-color: #2066A3;
}

.mxmrmg-icon-blogger{
	top: 4px;
	left: 4px;
}

.mxmrmg-button.blogger.selected{
	background-color: #F74300;
}


/* Easy Video Player vector skin. */
.mxmrmg .EVPMainButtonsNormalState{
	overflow: visible !important;
	font-size: 26px !important;
	color:#999 !important;
}

.mxmrmg .EVPMainButtonsSelectedState{	
	overflow: visible !important;
	font-size:26px !important;
	color:#FFF !important;
}

.mxmrmg .EVPMainButtonsNormalState .mxmrmg-icon-play,
.mxmrmg .EVPMainButtonsSelectedState .mxmrmg-icon-play,
.mxmrmg .EVPMainButtonsNormalState .mxmrmg-icon-pause,
.mxmrmg .EVPMainButtonsSelectedState .mxmrmg-icon-pause{
	position: relative;
	left: 0;
	top: 1px;
}

.mxmrmg .EVPMainButtonsNormalState .mxmrmg-icon-sound,
.mxmrmg .EVPMainButtonsSelectedState .mxmrmg-icon-sound,
.mxmrmg .EVPMainButtonsNormalState .mxmrmg-icon-sound-off,
.mxmrmg .EVPMainButtonsSelectedState .mxmrmg-icon-sound-off{
	position: relative;
	left: 0;
	top: 2px;
}

.mxmrmg .EVPMainButtonsNormalState .mxmrmg-icon-cast,
.mxmrmg .EVPMainButtonsSelectedState .mxmrmg-icon-cast,
.mxmrmg .EVPMainButtonsNormalState .mxmrmg-icon-sound-uncast,
.mxmrmg .EVPMainButtonsSelectedState .mxmrmg-icon-sound-uncast,
.mxmrmg .EVPMainButtonsNormalState .mxmrmg-icon-fullscreen,
.mxmrmg .EVPMainButtonsSelectedState .mxmrmg-icon-fullscreen,
.mxmrmg .EVPMainButtonsNormalState .mxmrmg-icon-sound-normalscreen,
.mxmrmg .EVPMainButtonsSelectedState .mxmrmg-icon-sound-normalscreen{
	position: relative;
	top: 1px;
}

.mxmrmg .table-fwdevp-button { 
	display: table;
	position: absolute;
	width: 100%;
	height: 100%;
}

.mxmrmg .table-cell-fwdevp-button {
	position: static !important;
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
}

.mxmrmg .EVPLargePlayButtonNormalState{
	position: absolute;
	font-size: 36px;
	width: 64px;
	height: 64px;
	cursor: pointer;
	background-color: rgba(0,0,0,.4);
	color:#BBB9BA;
}

.mxmrmg .EVPLargePlayButtonNormalState .table-cell-fwdevp-button{
	padding: 2px 0 0;
}

.mxmrmg .EVPLargePlayButtonSelectedState{
	position: absolute;
	font-size: 36px;
	width: 64px;
	height: 64px;
	cursor: pointer;
	background-color: rgba(0,0,0,.6);
	color:#FFF;
}

.mxmrmg .EVPLargePlayButtonSelectedState .table-cell-fwdevp-button{
	padding:2px 0 0;
}


#myDiv{
	margin: auto;
}
